<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/07012025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [3]:
for i in range(1,9,4):
    print(i)

1
5

In [4]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [5]:
for i in range(5,0,-2):
    print(i)

5
3
1

In [6]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [9]:
for i in range(6):
    print("A haan")

Ahaan
Ahaan
Ahaan
Ahaan
Ahaan
Ahaan

In [11]:
name = "i love coding"
for i in name:
    print(i)

i

l
o
v
e

c
o
d
i
n
g

In [13]:
for i in range(1,11):
    print("3 x " ,i, " = ", i*3)

3 x  1  =  3
3 x  2  =  6
3 x  3  =  9
3 x  4  =  12
3 x  5  =  15
3 x  6  =  18
3 x  7  =  21
3 x  8  =  24
3 x  9  =  27
3 x  10  =  30