<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/07012025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(5):
    print("Hello")

In [ ]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [1]:
for i in range(2,13,3):
    print(i)

2
5
8
11

In [ ]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [ ]:
for i in range(5,0,-2):
    print(i)

5
3
1

In [ ]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [5]:
for x in range(6):
    print("Ahaan")

Ahaan
Ahaan
Ahaan
Ahaan
Ahaan
Ahaan

In [ ]:
name = str(input("Enter any text: "))

for x in name:
    print(x)

In [ ]:
"""
You need to print the below table:


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
"""

for i in range(1,11,1):
    print("4 x",i, " = ", i*4)

4 + 1  =  5
4 + 2  =  6
4 + 3  =  7
4 + 4  =  8
4 + 5  =  9
4 + 6  =  10
4 + 7  =  11
4 + 8  =  12
4 + 9  =  13
4 + 10  =  14

In [3]:
#Print the even numbers up till 15.

for i in range(2,15,2):
    print(i)

2
4
6
8
10
12
14