<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/08062025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [64]:
#1.	Print numbers from 1 to 5 using a for loop.

for a in range(1,6):
    print(a)

1
2
3
4
5

In [67]:
#2.	Print numbers from 10 to 15 using a for loop.

for a in range(10,16,1):
    print(a)

10
11
12
13
14
15

In [68]:
#3.	Print your name 5 times using a for loop.

for a in range(5):
    print("Ahaan")

Ahaan
Ahaan
Ahaan
Ahaan
Ahaan

In [69]:
#4.	Print ‚ÄúHello!‚Äù 3 times using a for loop.

for a in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [70]:
#5.	Print even numbers from 2 to 10 using a for loop.

for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [37]:
#6.	Print odd numbers from 1 to 9 using a for loop.

for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [71]:
#7.	Print numbers from 5 to 1 in reverse order.

for x in range(5,0,-1):
    print(x)

5
4
3
2
1

In [40]:
#8.	Print ‚ÄúI love coding!‚Äù 4 times using a for loop.

for a in range(4):
    print("I love coding")

I love coding
I love coding
I love coding
I love coding

In [41]:
#9.	Print the word ‚ÄúPython‚Äù 6 times using a for loop.

for a in range(6):
    print("Python")

Python
Python
Python
Python
Python
Python

In [42]:
#10.	Print the smiley emoji üòä five times using a for loop.

for a in range(5):
    print("üòä")

üòä
üòä
üòä
üòä
üòä

In [44]:
#11.	Print the word ‚ÄúWow!‚Äù 3 times using a for loop.

for a in range(3):
    print("Wow!")

Wow!
Wow!
Wow!

In [47]:
#12.	Use a for loop to print the numbers from 1 to 10.

for a in range(1,11,1):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [49]:
#13.	Use a for loop to print the first 5 multiples of 3.

for a in range(3,16,3):
    print(a)

3
6
9
12
15

In [ ]:
#14.	Print a triangle shape with stars using a for loop.

In [53]:
#15.	Use a for loop to print the letters in the word ‚ÄúCat‚Äù.

name = "Cat"

for a in name:
    print(a)

C
a
t

In [57]:
#16.	Use a for loop to print numbers from 0 to 3.

for a in range(0,4,1):
    print(a)

0
1
2
3

In [58]:
#17.	Use a for loop to print the word ‚ÄúGreat!‚Äù 2 times.

for a in range(2):
    print("Great!")

Great!
Great!

In [76]:
#18.	Print the table of 2 using a for loop.

x = int(input("Which number do you want the table for? "))

for a in range(2,11,1):
    print(x, "x", a, "=", x*a)

Which number do you want the table for? 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [59]:
#19.	Print 4 hearts (‚ù§) using a for loop.

for a in range(4):
    print("‚ù§")

‚ù§
‚ù§
‚ù§
‚ù§

In [60]:
#20.	Print numbers from 1 to 20 but skip¬†2¬†each¬†time.

for x in range(1,20,2):
    print(x)

1
3
5
7
9
11
13
15
17
19