<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/08062025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.	Print numbers from 1 to 5 using a for loop.

In [ ]:
#2.	Print numbers from 10 to 15 using a for loop.

In [ ]:
#3.	Print your name 5 times using a for loop.

In [ ]:
#4.	Print ‚ÄúHello!‚Äù 3 times using a for loop.

In [ ]:
#5.	Print even numbers from 2 to 10 using a for loop.

In [ ]:
#6.	Print odd numbers from 1 to 9 using a for loop.

In [ ]:
#7.	Print numbers from 5 to 1 in reverse order.

In [ ]:
#8.	Print ‚ÄúI love coding!‚Äù 4 times using a for loop.

In [ ]:
#9.	Print the word ‚ÄúPython‚Äù 6 times using a for loop.

In [ ]:
#10.	Print the smiley emoji üòä five times using a for loop.

In [ ]:
#11.	Print the word ‚ÄúWow!‚Äù 3 times using a for loop.

In [ ]:
#12.	Use a for loop to print the numbers from 1 to 10.

In [ ]:
#13.	Use a for loop to print the first 5 multiples of 3.

In [ ]:
#14.	Print a triangle shape with stars using a for loop.

In [ ]:
#15.	Use a for loop to print the letters in the word ‚ÄúCat‚Äù.

In [ ]:
#16.	Use a for loop to print numbers from 0 to 3.

In [ ]:
#17.	Use a for loop to print the word ‚ÄúGreat!‚Äù 2 times.

In [ ]:
#18.	Print the table of 2 using a for loop.

In [ ]:
#19.	Print 4 hearts (‚ù§) using a for loop.

In [ ]:
#20.	Print numbers from 1 to 20 but skip¬†2¬†each¬†time.