<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/12072025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Python is Easy"
print(name.lower())

python is easy

In [2]:
name = "A cat and a bat sat on a mat."
print(name.count("a"))

7

In [3]:
name = "This is a bad idea."
print(name.replace("bad","good"))

This is a good idea.

In [5]:
name = str(input("enter any input:"))
print(name[0])

enter any input:Ahaan
A

In [8]:
x = "Python"
y = "Rocks"
print(x+" "+y)

Python Rocks

In [10]:
age = int(input("Enter your age:"))

if age >= 18:
    print("you can vote.")
else:
    print("you are too young.")

Enter your age:28
you can vote.

In [13]:
password = str(input("enter a password:"))

if password == "admin123":
    print("Access granted!")
else:
    print("Access denied")

enter a password:admin123
Access granted!

In [19]:
num = int(input("Enter a number:"))

if num > 0:
    print("The number is positive!")
elif num < 0:
    print("It is a negative number!")
elif num == 0:
    print("The number is zero!")
else:
    print("Enter a valid number!")

Enter a number:10000000000000000000000000000000000000
The number is positive!

In [22]:
num = int(input("Enter a number:"))

if num % 2 == 0:
    print("It is an even number!")
else:
    print("It is an odd number!")

Enter a number:8
It is an even number!

In [23]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [25]:
num = 10
while num > 5:
    print(num)
    num=num-1

10
9
8
7
6

In [27]:
num = int(input("which table do you want?"))

for i in range(1,11):
    print(num,"x",i,"=",num * i)

which table do you want?5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [28]:
text = ""
while text != "yes":
    text = str(input("please type yes."))

please type yes.dhehudsrycyug
please type yes.jjderfrhfhrttf
please type yes.euhfrfytf
please type yes.fjffy
please type yes.yes

In [29]:
for i in "fun":
    print(i)

f
u
n