<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/13072025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
"""
A1. 1.	Write a program to print the length of this sentence:
"Python is amazing!"
"""

a = "Python is amazing!"
print(len(a))

18

In [4]:
"""
A2.	Convert the sentence "HELLO, FRIENDS!" to lowercase and print it.
"""

a = "HELLO, FRIENDS!"
print(a.lower())

hello, friends!

In [6]:
"""
A3.	Take a sentence from the user and count how many times 'e' appears in it.
"""

x = str(input("Enter a sentence: "))

print(x.count("e"))

Enter a sentence: enter a sentence
5

In [8]:
"""
A4.	Replace "rain" with "sun" in this string:
"The rain is falling."
"""

a = "The rain is falling."
print(a.replace("rain","sun"))

The sun is falling.

In [10]:
"""
A5.	Ask the user to enter their name and print only the first character.
"""

name = str(input("Enter your name: "))

print(name[0])

Enter your name: Avishek
A

In [13]:
"""
A6.	Join the two strings "Hello" and "World" and print the result.
"""
a = "Hello"
b = "World"

print(a + " " + b)
print(a,b)

Hello World
Hello World

In [14]:
"""
B7.	Use a for loop to print numbers from 1 to 5.
"""

for i in range(1,6):
    print(i)

1
2
3
4
5

In [17]:
"""
B8.	Use a while loop to print numbers from 7 down to 3.
"""
a = 7
while a > 2:
    print(a)
    a = a-1

7
6
5
4
3

In [19]:
"""
B9.	Ask the user to enter a number and print its table (1 to 10).
"""
num = int(input("Enter a number"))

for i in range(1,11):
    print(num,)

Enter a number3
1
2
3
4
5
6
7
8
9
10

In [ ]:
"""
B10.	Keep asking the user "Do you want to continue?" until they type "yes".
"""

In [ ]:
"""
B11.	Print each character of the word "Python" using a loop.
"""