<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/13072025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
A1. 1.	Write a program to print the length of this sentence:
"Python is amazing!"
"""

a = "Python is amazing!"
print(len(a))

18

In [ ]:
"""
A2.	Convert the sentence "HELLO, FRIENDS!" to lowercase and print it.
"""

a = "HELLO, FRIENDS!"
print(a.lower())

hello, friends!

In [ ]:
"""
A3.	Take a sentence from the user and count how many times 'e' appears in it.
"""

x = str(input("Enter a sentence: "))

print(x.count("e"))

Enter a sentence: enter a sentence
5

In [ ]:
"""
A4.	Replace "rain" with "sun" in this string:
"The rain is falling."
"""

a = "The rain is falling."
print(a.replace("rain","sun"))

The sun is falling.

In [ ]:
"""
A5.	Ask the user to enter their name and print only the first character.
"""

name = str(input("Enter your name: "))

print(name[0])

Enter your name: Avishek
A

In [ ]:
"""
A6.	Join the two strings "Hello" and "World" and print the result.
"""
a = "Hello"
b = "World"

print(a + " " + b)
print(a,b)

Hello World
Hello World

In [ ]:
"""
B7.	Use a for loop to print numbers from 1 to 5.
"""

for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
"""
B8.	Use a while loop to print numbers from 7 down to 3.
"""
a = 7
while a > 2:
    print(a)
    a = a-1

7
6
5
4
3

In [4]:
"""
B9.	Ask the user to enter a number and print its table (1 to 10).

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
"""
num = int(input("Enter a number: "))

for i in range(1,11):
    print(num, " x ", i, " = ", (num * i))

Enter a number: 3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

In [14]:
"""
B10.	Keep asking the user "Do you want to continue?" until they type "yes".
"""

while True:
    x = input("Do you want to continue? ")
    if x == "yes":
        break

Do you want to continue? d
Do you want to continue? yes

In [16]:
"""
B11.	Print each character of the word "Python" using a loop.
"""

for i in "Python":
    print(i)

P
y
t
h
o
n

In [19]:
"""
C12.	Write a program to check if a number is positive, negative, or zero.
"""

num = int(input("Enter a number: "))

if num > 0:
    print("It is a positive number.")
elif num < 0:
    print("It is a negative number.")
else:
    print("The number is Zero.")

Enter a number: 0
The number is Zero.

In [20]:
"""
C13.	Ask the user for their age. If age is 12 or less, print "You are a child.", else print "You are older than 12."
"""

age = int(input("Enter your age: "))

if age <= 12:
    print("You are a child.")
else:
    print("You are older than 12.")

Enter your age: 5
You are a child.

In [21]:
"""
C14.	Ask the user to enter a number. If it is even, print "Even", otherwise print "Odd".
"""

num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

In [25]:
"""
C15.	Take a password from the user. If it matches "mypassword", print "Welcome!", else print "Wrong password".
"""

import getpass
x = getpass.getpass("Enter your password: ")

if x == "mypassword":
    print("Welcome!")
else:
    print("Wrong password.")

Enter your password: ··········
Welcome!

In [28]:
"""
D16.	Print this pattern using a loop:
markdown
......................................
*
* *
* * *
"""

for row in range(1,4):
    for col in range(1,row+1):
        print("* ",end="")
    print()

*
* *
* * *

In [38]:
"""
D17.	Print this reverse pattern using a loop:
markdown
......................................
* * *
* *
*
"""

for row in range(3,0,-1):
    for col in range(1,row+1):
        print("* ",end="")
    print()

* * *
* *
*

In [42]:
"""
D18.	Print this square pattern of #:
shell
......................................
# # #
# # #
# # #
"""

for i in range(1,4):
    for col in range(1,4):
        print("# ", end="")
    print()

# # #
# # #
# # #

In [47]:
"""
E19.	Ask the user to enter two numbers. Add them and print the result.
"""

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("The sum of the two numbers is:", num1 + num2)

Enter the first number: 6
Enter the second number: 4
The sum of the two numbers is: 10

In [55]:
"""
E20.	Ask the user to enter their name and age. Print a message:
"Hi <name>, you are <age> years old."
"""

name = str(input("Enter your name: "))
age = int(input("Enter your age: "))

print("Hi",name,", you are",age,"years old.")

Enter your name: Ahaan
Enter your age: 5
Hi Ahaan , you are 5 years old.