<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/21062025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for bag in range(1,3):
    print("Bag",bag)
    for book in range(1,6):
        print("Book",book)

Bag 1
Book 1
Book 2
Book 3
Book 4
Book 5
Bag 2
Book 1
Book 2
Book 3
Book 4
Book 5

In [2]:
for basket in range(1,4):
    print("Basket",basket)
    for balloon in range(1,5):
        print("Balloon",balloon)

Basket 1
Balloon 1
Balloon 2
Balloon 3
Balloon 4
Basket 2
Balloon 1
Balloon 2
Balloon 3
Balloon 4
Basket 3
Balloon 1
Balloon 2
Balloon 3
Balloon 4

In [12]:
for rows in range(1,9):
    for num in range(1,8):
        for num2 in range(1,4):
            print(num2,end ="")
    print()

123123123123123123123
123123123123123123123
123123123123123123123
123123123123123123123
123123123123123123123
123123123123123123123
123123123123123123123
123123123123123123123

In [ ]:
for rows in range(1,4):
    for num in range(rows):