<a href="https://colab.research.google.com/github/rookiemahout/pytrain/blob/Local/22062025001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
1. Print a square of stars
markdown
.....................................................
****
****
****
Hint: Print 4 stars in 3 rows.
Counter Tip: "The row number starts at 1 and keeps adding 1. Each row prints 4 stars." Loops: Outer loop = 1 to 3 (rows); Inner loop = 1 to 4 (stars)
"""
#for star in range(1,5):
#    for rows in range(1,4):

# Outer loop for 3 rows
for row in range(1, 4):
    for star in range(1, 5):
        print("*", end="")
    print()  # Newline after each row

****
****
****

In [2]:
"""
2. Print a triangle of numbers
.....................................................
1
12
123
Hint: Add one more number in each row.
Counter Tip: "Row 1 has 1 number, row 2 has 2..."
Loops: Outer loop = 1 to 3; Inner loop = 1 to current row number
"""

for row in range(1,4):
    for num in range(1,row+1):
        print(num, end="")
    print()

1
12
123

In [4]:
"""
3. Print stars in increasing order
markdown
.....................................................
*
**
***
****
Hint: Each row has more stars than before.
Counter Tip: "We add one more star each time."
Loops: Outer loop = 1 to 4; Inner loop = 1 to row number
"""

for row in range(1,5):
    for star in range(1,row+1):
        print("*", end="")
    print()

*
**
***
****

In [8]:
"""
4. Print a number square
.....................................................
111
222
333
444
Hint: Repeat the same number in each row.
Counter Tip: "Row 1 → three 1s, row 2 → three 2s..."
Loops: Outer loop = 1 to 3; Inner loop = 1 to 3
"""

for row in range(1,5,1):
    for col in range(1,5,1):
        print(row, end="")
    print()

1111
2222
3333
4444

In [19]:
"""
5. Print a reverse triangle
yaml
.....................................................
1234
123
12
1
Hint: Remove one number from the end each row.
Counter Tip: "We start big and shrink."
Loops: Outer loop = 4 down to 1; Inner loop = 1 to current row number
"""

for row in range(6,0,-1):
    for num in range(1, row+1):
        print(num, end="")
    print()

123456
12345
1234
123
12
1

In [23]:
"""
6. Print increasing numbers in triangle
.....................................................
1
2 3
4 5 6
Hint: Start from 1 and keep going up without restarting.
Counter Tip: "Never start over — just keep counting."
Loops: Outer loop = 1 to 3; Inner loop = 1 to row number; use counter variable increasing
"""

counter = 1

for row in range(1,4):
    for col in range(1, row  + 1):
        print(counter, "", end="")
        counter += 2
    print()

1
3 5
7 9 11

In [26]:
"""
7. Print even number triangle
.....................................................
2
2 4
2 4 6
Hint: Show even numbers in each row.
Counter Tip: "Use 2, 4, 6... based on the position."
Loops: Outer loop = 1 to 3; Inner loop = 1 to row number; use 2 * j
"""

for row in range(1,4):
    for col in range(1, row + 1):
        print(col*2, end="")
    print()

2
24
246

In [28]:
"""
8. Print symbols triangle
ruby
.....................................................
$
$$
$$$
$$$$
Hint: Add one more $ each row.
Counter Tip: "Each new row adds one more symbol."
Loops: Outer loop = 1 to 4; Inner loop = 1 to row number
"""

for row in range(1,5):
    for dollar in range(1, row + 1):
        print("$",end="")
    print()

$
$$
$$$
$$$$

In [31]:
"""
9. Rows of stars from input
(Input any number n, then print n rows of stars)
Hint: Ask the user for how many rows to print.
Counter Tip: "If they say 5, print 5 rows!"
Loops: Outer loop = 1 to input; Inner loop = 1 to your choice (like 1 or more stars)
"""

x = int(input("Enter the number of rows of stars: "))

for row in range(1,x):
    for dollar in range(1, row + 1):
        print("*",end="")
    print()

Enter the number of rows of stars: 8
*
**
***
****
*****
******
*******

In [39]:
"""
10. Print number and its double
.....................................................
1 2
2 4
3 6
Hint: Show the number and then double it.
Counter Tip: "1 becomes 2, 2 becomes 4, 3 becomes 6 – like magic!" Loops: One loop = 1 to 3; print i and i × 2
"""

for row in range(1,4):
    print(row, row * 2)

1 2
2 4
3 6

In [41]:
"""
11. Print number and its square
.....................................................
1 1
2 4
3 9
Hint: Show the number and its square.
Counter Tip: "Write the number and multiply it by itself."
Loops: One loop = 1 to 3; print i and i × i
"""

for row in range(1,4):
    print(row, row * row)

1 1
2 4
3 9

In [42]:
"""
12. Print square of numbers
.....................................................
1 2 3
1 2 3
1 2 3
Hint: Same row repeated three times.
Counter Tip: "Each row counts from 1 to 3."
Loops: Outer loop = 1 to 3; Inner loop = 1 to 3
"""

for row in range(1,4):
    for col in range(1, 4, 1):
        print(col, end="")
    print()

123
123
123

In [47]:
"""
13. Mirrored triangle of stars
markdown
....................................................
*
**
***
Hint: Put spaces before the stars.
Counter Tip: "Spaces go down, stars go up!"
Loops: Outer = 1 to 3; Inner1 = 1 to (3 − row) spaces; Inner2 = 1 to row stars
"""

rows = 6
for row in range(1, rows + 1):
    space = " " * (rows - row)
    stars = "*" * row
    print(space, stars)

      *
     **
    ***
   ****
  *****
 ******